/*caixa de login*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 425px;
    padding: 5px;
    border-radius: 6px;
}

.login-box {
    background: white;
    width: 425px;
    padding: 5px 0px 50px 0px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 5px 5px 10px #888;
}
.login-box h2 {
    margin-bottom: 20px;
    font-size: 20px;
}
.login-box input[type="email"],
.login-box input[type="password"] {
    width: 325px;
    padding: 10px;
    margin: 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.submit{
    width: 350px;
    background: #590C9E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
.login-box a {
    justify-content: space-between;
    margin-right: 30px;
    margin-top: 10px;
    font-size: 13px;
    color: blue;
    text-decoration: none;
}

.esqueci{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.esqueci a{
    margin-right: 30px;
    margin-left: 30px;
}

.social-buttons {
    justify-content: center;
    margin: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
}
.social-buttons button {
    display: flex;
    flex: 1;
    padding: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: white;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    margin-left: 5px;
}

.login-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1%
}

.img-social{
    float: left;
    margin: 1px;
    width: 25px;
    height: 25px;
}
.dividir{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
}
  
.dividir hr {
    flex: 1;
    margin: 5px;
}

/*página esqueci senha*/
.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 450px;
    padding: 5px;
    border-radius: 6px;
}

.login-box2 {
    background: white;
    width: 450px;
    margin: 20px 0px 75px 0px;
    padding: 5px 0px 50px 0px;
    border-radius: 6px;
    text-align: center;
    box-shadow: 5px 5px 10px #888;
}
.login-box2 h2 {
    margin-bottom: 20px;
    font-size: 20px;
}
.login-box2 input[type="email"],
.login-box2 input[type="password"] {
    width: 325px;
    padding: 10px;
    margin: 8px 0px 10px 0px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}
.login-box2 button {
    width: 350px;
    background: #590C9E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

#voltar{
    margin-left: 5px;
    display: flex;
    float: left;
    width: 25px;
    height: 25px;
}